<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Identity.Core" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.0.0" targetFramework="net472" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Owin.Authentication" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Owin.Authentication.IdentityServer" version="9.2.0" targetFramework="net472" />
</packages>