<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <sc.variable name="identityServerAuthority">
      <patch:attribute name="value" value="https://sc920_identityserver.dev.local" />
    </sc.variable>

    <federatedAuthentication>
      <identityProviders>
        <identityProvider id="SitecoreIdentityServer">
          <transformations>
             <transformation name="prefix roles" type="ADFS.PrefixRoles, ADFS" resolve="true" patch:after="transformation[@name='name to long name']" />  
          </transformations>
        </identityProvider>
      </identityProviders>

      <identityProvidersPerSites>
        <mapEntry name="all sites">
          <externalUserBuilder>
            <patch:attribute name="type" value="ADFS.AdfsExternalUserBuilder, ADFS"  /> 
          </externalUserBuilder> 
        </mapEntry>
      </identityProvidersPerSites>

      <propertyInitializer>
        <maps>
          <map name="set Email" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <source name="email"  />
              <target name="Email"  />
            </data>
          </map>
          <map name="set FullName" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <source name="name"  />
              <target name="FullName"  />
            </data>
          </map>
        </maps>
      </propertyInitializer>
    </federatedAuthentication>
  </sitecore>
</configuration>